### Some important Series methods

In [1]:
import pandas as pd
import numpy as np

In [2]:
# astype
# between
# clip
# drop_duplicates
# isnull
# dropna
# fillna
# isin
# apply
# copy

In [3]:
subs = pd.read_csv('subs.csv').squeeze()
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [4]:
vk = pd.read_csv('kohli_ipl.csv', index_col = 'match_no').squeeze()
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [5]:
movies = pd.read_csv('bollywood.csv', index_col = 'movie').squeeze()
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [6]:
# astype
import sys
sys.getsizeof(vk)

3472

In [7]:
vk.astype('int16')

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int16

In [9]:
sys.getsizeof(vk.astype('int16'))

2182

In [13]:
# between : ek range ke andar values exist karti hai ya nahi -> Both are included
vk.between(51,99)

match_no
1      False
2      False
3      False
4      False
5      False
       ...
211    False
212    False
213     True
214    False
215    False
Name: runs, Length: 215, dtype: bool

In [14]:
vk[vk.between(51,99)]

match_no
34     58
41     71
44     56
45     67
52     70
57     57
68     73
71     51
73     58
74     65
80     57
81     93
82     99
85     56
97     67
99     73
103    51
104    62
110    82
116    75
117    79
119    80
122    52
127    75
129    54
131    54
132    62
134    64
137    55
141    58
144    57
145    92
148    68
152    70
160    84
162    67
175    72
178    90
188    72
197    51
198    53
209    58
213    73
Name: runs, dtype: int64

In [15]:
vk[vk.between(51,99)].size

43

In [22]:
# clip
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [23]:
subs.clip(100,200) # 100 se kaam waali saari values 100 ho jaegi, aur 100 se jayada waali saari 200 ho jaegi, aur inke becch waali saari values will remain intact

0      100
1      100
2      100
3      100
4      100
      ...
360    200
361    200
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [25]:
# drop_duplicates
temp = pd.Series([1,1,1,3,2,4,4,5,9])
temp

0    1
1    1
2    1
3    3
4    2
5    4
6    4
7    5
8    9
dtype: int64

In [28]:
temp.drop_duplicates() # pehla occurance bas rah jaega by default

0    1
3    3
4    2
5    4
7    5
8    9
dtype: int64

In [29]:
temp.drop_duplicates(keep = 'last') # last occurance bas rah jaega

2    1
3    3
4    2
6    4
7    5
8    9
dtype: int64

In [32]:
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [31]:
movies.drop_duplicates()

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Sssshhh...                              Tanishaa Mukerji
Rules: Pyaar Ka Superhit Formula                  Tanuja
Right Here Right Now (film)                        Ankit
Talaash: The Hunt Begins...                Rakhee Gulzar
The Pink Mirror                          Edwin Fernandes
Name: lead, Length: 566, dtype: object

In [33]:
temp

0    1
1    1
2    1
3    3
4    2
5    4
6    4
7    5
8    9
dtype: int64

In [35]:
# duplicated() -> duplicate hai ya nahi
temp.duplicated()

0    False
1     True
2     True
3    False
4    False
5    False
6     True
7    False
8    False
dtype: bool

In [37]:
temp.duplicated().sum() # kitne duplicate values hain

3

In [38]:
vk.duplicated().sum()

137

In [39]:
tempo = pd.Series([1,2,3,np.nan,5,6,np.nan,8,np.nan,10])
tempo

0     1.0
1     2.0
2     3.0
3     NaN
4     5.0
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [40]:
tempo.size

10

In [43]:
tempo.count() # there are 7 not nan values

7

In [44]:
# isnull
vk.isnull()

match_no
1      False
2      False
3      False
4      False
5      False
       ...
211    False
212    False
213    False
214    False
215    False
Name: runs, Length: 215, dtype: bool

In [45]:
vk.isnull().sum()

0

In [46]:
tempo.isnull().sum()

3

In [47]:
tempo[tempo.isnull()]

3   NaN
6   NaN
8   NaN
dtype: float64

In [48]:
# dropna
tempo.dropna()

0     1.0
1     2.0
2     3.0
4     5.0
5     6.0
7     8.0
9    10.0
dtype: float64

In [49]:
# fillna
tempo.fillna(0)

0     1.0
1     2.0
2     3.0
3     0.0
4     5.0
5     6.0
6     0.0
7     8.0
8     0.0
9    10.0
dtype: float64

In [51]:
tempo.fillna(tempo.mean())

0     1.0
1     2.0
2     3.0
3     5.0
4     5.0
5     6.0
6     5.0
7     8.0
8     5.0
9    10.0
dtype: float64

In [52]:
# isin
(vk == 49) | (vk == 99)

match_no
1      False
2      False
3      False
4      False
5      False
       ...
211    False
212    False
213    False
214    False
215    False
Name: runs, Length: 215, dtype: bool

In [53]:
vk[(vk == 49) | (vk == 99)]

match_no
82    99
86    49
Name: runs, dtype: int64

In [55]:
vk.isin([49,99])

match_no
1      False
2      False
3      False
4      False
5      False
       ...
211    False
212    False
213    False
214    False
215    False
Name: runs, Length: 215, dtype: bool

In [56]:
vk[vk.isin([49,99])]

match_no
82    99
86    49
Name: runs, dtype: int64

In [59]:
vk[vk.isin([49,99,82])]

match_no
82     99
86     49
110    82
Name: runs, dtype: int64

In [61]:
# apply : apna khud ka function apply karne mein help karta hai
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [62]:
movies.apply(lambda x:x.split()[0].upper())

movie
Uri: The Surgical Strike                  VICKY
Battalion 609                             VICKY
The Accidental Prime Minister (film)     ANUPAM
Why Cheat India                          EMRAAN
Evening Shadows                            MONA
                                         ...
Hum Tumhare Hain Sanam                     SHAH
Aankhen (2002 film)                     AMITABH
Saathiya (film)                           VIVEK
Company (film)                             AJAY
Awara Paagal Deewana                     AKSHAY
Name: lead, Length: 1500, dtype: object

In [63]:
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [64]:
subs.mean()

135.64383561643837

In [65]:
subs.apply(lambda x:'Good Day' if x>subs.mean() else 'Bad Day')

0       Bad Day
1       Bad Day
2       Bad Day
3       Bad Day
4       Bad Day
         ...
360    Good Day
361    Good Day
362    Good Day
363    Good Day
364    Good Day
Name: Subscribers gained, Length: 365, dtype: object

In [72]:
# copy
new = vk.head()  # head and tail do not give copy of the data => they give the view

In [73]:
new

match_no
1    100
2     23
3     13
4     12
5      1
Name: runs, dtype: int64

In [74]:
new[1] = 100  # This changes both new and vk

In [75]:
new

match_no
1    100
2     23
3     13
4     12
5      1
Name: runs, dtype: int64

In [76]:
vk

match_no
1      100
2       23
3       13
4       12
5        1
      ...
211      0
212     20
213     73
214     25
215      7
Name: runs, Length: 215, dtype: int64

In [84]:
fresh_new = vk.head().copy() # this won't affect the original data

In [85]:
fresh_new

match_no
1    100
2     23
3     13
4     12
5      1
Name: runs, dtype: int64

In [86]:
fresh_new[1] = 1

In [87]:
fresh_new

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [88]:
vk

match_no
1      100
2       23
3       13
4       12
5        1
      ...
211      0
212     20
213     73
214     25
215      7
Name: runs, Length: 215, dtype: int64